$font: 'Courier New', Courier, monospace;
.poke-info {
  border: 4px solid black;
  box-shadow: 55px;
  padding: 15px;
  font-family: $font;
  background-color: #d40000;
  color: #fff;

  .wrapper {
    padding: 10px;
    border: 1px solid black;
  }
}
