.filter-panel {
  margin-right: 20px;
  .filter-input {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    // border: 2px solid #7ba7ab;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    background: #f9f0da;
    color: #000;
  }
}
